.navbar-dark .navbar-brand {
    background-color: #192532 !important;
}
.navbar.bg-primary{
    background-color: #263545 !important;
}
.navbar.bg-primary .nav .nav-item .nav-link{
    background-color: #263545 !important;
}
.support-button{
    display:none !important;
}
.panel.panel-light .panel-main .panel-content{
    background-color: white  !important;
}